{% extends 'base.html.twig' %}

{% if item is not empty %}
    {% block title %}The Stocks: {{ item.name }}{% endblock %}
{% endif %}

{% dump(item) %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 col-md-offset-3">
                <div class="thumbnail">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img class="thumbImage itemImage" src="{{ asset(item.imagePath) }}">
                        </div>
                        <div class="panel-body">

                            <div class="caption">
                                <h2 class="center-text">{{ item.name }}</h2>
                                <h5 class="text-center">In stock: {{ item.quantity }}</h5>
                                <h3 class="center-text"><sub>{{ item.category }}</sub></h3>
                                <p>{{ item.description | capitalize}}</p>
                            </div>

                            {% if item.priceWithDiscount != item.price %}
                                <h3 class="center-text">Discount: {{ item.itemDiscount.discount }}%</h3>
                            {% endif %}


                            {% if item.priceWithDiscount != item.price %}
                                <h1 class="center-text">{{ item.priceWithDiscount|number_format(2, '.') }} lv.</h1>
                                <h3 class="center-text"><sub>Original Price: {{ item.price|number_format(2, '.') }} lv.</sub></h3>
                            {% else %}
                                <h1 class="center-text">{{ item.price | number_format(2, '.') }} lv.</h1>
                            {% endif %}
                        </div>
                    </div>

                    {% if app.user %}
                        {% if item.user.id != app.user.id %}
                            <form class="row" method="post" action="{{ path('cart_add', { 'id': item.id}) }}">
                                <div class="col-md-8">
                                    <input class="form-control field" name="quantity" type="number" placeholder="Quantity" min="1" max="{{ item.quantity }}">
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-block btn-success btn-lg">Add to cart</button>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {% if app.user %}
                {% if item.user.id == app.user.id or app.user.isEditor() %}
                    <div class="col-sm-6 com-lg-6 col-md-6 col-md-offset-3">
                        <form method="post" action="{{ path('change_item_status', {id: item.id }) }}">
                            {% if item.isLive() %}
                                <button class="btn btn-danger btn-lg btn-block">Take off market</button>
                            {% else %}
                                <button class="btn btn-success btn-lg btn-block">Put on the market</button>
                            {% endif %}
                        </form>
                        <br>
                        <form method="post" action="{{ path('item_delete', { id: item.id }) }}">
                            <button class="btn btn-danger btn-lg btn-block" type="submit">Remove</button>
                        </form>
                {% endif %}
                {% if app.user.isEditor() %}
                        <br>
                        <form method="post" action="{{ path('add_item_promotion', {id: item.id}) }}">
                            <button class="btn btn-info btn-lg btn-block">Give Promotion</button>
                        </form>
                        <br>
                        <a href="{{ path('item_edit', { id: item.id }) }}" class="btn btn-primary btn-lg btn-block">Edit</a>
                {% endif %}
                    </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

