<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}The Stocks{% endblock %}</title>

        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}{% endblock %}

    </head>
    <body>



    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('item_all') }}">The Stocks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('item_all') }}">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                {% for category in categories.categories %}
                                    <a href="{{ path('view_category', {"id": category.id}) }}">{{ category.name }}</a>
                                {% endfor %}
                                {% if app.user %}
                                    {% if app.user.isEditor() %}
                                        <hr>
                                        <a href="{{ path('add_category') }}">Add category</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                    <li>
                        {% if app.user %}
                            {% if app.user.isEditor() %}
                                <a href="{{ path('item_add') }}">Add Item</a>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if app.User %}
                        <li>
                            <a href="{{ path('cart_show') }}">Cart</a>
                        </li>
                        <li>
                            <a href="{{ path('user_profile', { id: app.user.id }) }}">{{ app.user.username }}</a>
                        </li>
                        <li>
                            <a href="{{ path('user_logout') }}">Log out</a>
                        </li>
                    {% else  %}
                        <li>
                            <a href="{{ path('user_login') }}">Log in</a>
                        </li>
                        <li>
                            <a href="{{ path('user_register') }}">Register</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>
