{% extends "::base.html.twig" %}

{% block title %}
    {% if category is not empty %}
        The Stocks: {{ category.name }}
    {% else %}
        The Stocks
    {% endif %}
{% endblock %}


{% block body %}
    <div class="container">

        <div class="dropdown">
            <button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">Order By
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="?orderBy=price&in=asc">Price Ascending</a></li>
                <li><a href="?orderBy=price&in=desc">Price Descending</a></li>
                <li class="divider"></li>
                <li><a href="?orderBy=name&in=asc">A - Z</a></li>
                <li><a href="?orderBy=name&in=desc">Z - A</a></li>
                <li class="divider"></li>
                <li><a href="?orderBy=createdAt&in=desc">New to old</a></li>
                <li><a href="?orderBy=createdAt&in=asc">Old to New</a></li>
            </ul>
        </div>

        <br>

        <div class="row">
            {% if items|length != 0 %}
                {% for item in items %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{ path('item_show', { 'id': item[0].id }) }}"><img class="thumbImage" src="{{ asset(item[0].imagePath) }}"></a>
                            <div class="caption">
                                <h4>
                                    <a target="_blank" href="{{ path('item_show', { 'id': item[0].id}) }}">
                                        {{ item[0].name|length > 20 ? item[0].name|slice(0, 20) ~ '...' : item[0].name }}
                                    </a>
                                </h4>
                                <p>{{ item[0].description|length > 30 ? item[0].description|slice(0, 30) ~ '...' : item[0].description }}</p>
                                {% if item[0].quantity != 0 %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4 class="bg-success">Price: {{ item[0].price|number_format(2, '.') }} lv.</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>
                                                In Stock: {{ item[0].quantity }}
                                                <a href="{{ path('user_profile', {'id': item[0].user.id}) }}" class="pull-right">{{ item[0].user.username }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                {% else %}
                                    <h4 class="pull-right bg-danger">Out of Stock</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                No items in this category.
            {% endif %}
        </div>

        <div class="navigatior">
            {{ knp_pagination_render(items) }}
        </div>
    </div>
{% endblock %}

